<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Goal Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navBarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle Navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link">Goals</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">New Goal</a>
      </li>
    </ul>
  </div>
</nav>
