<form class="w-50 p-3 border rounded mx-auto mt-3">
  <div class="form-group mt-2">
    <label for="newGoalName">Goal</label>
    <input
      type="text"
      class="form-control"
      id="newGoalName"
      placeholder="New Goal..."
    />
    <small id="newGoalHelp" class="form-text text-muted"
      >Enter the name of your new goal</small
    >
  </div>
  <div class="form-group mt-2">
    <label for="newGoalStart">Start</label>
    <input
      type="text"
      id="newGoalStart"
      class="form-control"
      placeholder="Start Date"
    />
  </div>
  <div class="form-group mt-2">
    <label for="newGoalEnd">End</label>
    <input
      type="text"
      id="newGoalEnd"
      class="form-control"
      placeholder="End Date"
    />
  </div>
  <div class="form-group mt-2">
    <label for="newGoalDescription">Description:</label>
    <textarea class="form-control" id="newGoalDescription" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2 mt-2">Create Goal</button>
</form>
